.cont{
    text-align:center;
    background-image: linear-gradient(white );
    padding: 20px;
    box-shadow: 2px 2px;
    color: black;
}
.para{
    text-align-last:center;
    background-image: linear-gradient(white);
    padding: 20px;
    box-shadow: 2px 2px;
    color: black;
}
